[user]
  name = Takahisa Shimoda

[core]
  excludesfile = ~/.gitignore_global
  editor = vim -c \"set fenc=utf-8\"

[alias]
  al = config --get-regexp alias
  me = config --get-regexp user
  s = status --short --branch
  st = status
  ci = commit
  br = branch
  co = checkout
  d = diff
  dc = diff --cached
  dh = diff HEAD^ HEAD
  wd = diff --word-diff --ignore-all-space
  wdc = diff --word-diff --ignore-all-space --cached
  l = log --decorate --oneline
  ls = log --decorate --oneline --stat
  lg = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  cancel = reset --soft HEAD^
  unstage = reset HEAD --
